input.inputbox, textarea.outputbox {
    border-style: solid;
    border-color:rgb(42, 38, 58);
    height: 200px;
    width: 300px;
}

.mulu {
    margin : 5px 8px 5px 8px
}

a.mulu {
    
}