<<<<<<< HEAD
div#cmdwnd{
    position: fixed;
    right:5px;
    bottom:80px;
}

.ngfcmd {
    z-index: 1000;
}

div#strategywnd {
	position: fixed;
	left:5px;
	bottom: 80px;
}

=======
div#cmdwnd{
    position: fixed;
    right:5px;
    bottom:80px;
}

.ngfcmd {
    z-index: 1000;
}
>>>>>>> fb3c4a7e1903bdda5d98754eb92ced698033a175
